@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

/* The navbar */
/* DONE */
/* The top level navbar */

img.logo {
    height: 100px !important;
    width: auto;
    margin-top: 2px !important;
    left: 25% !important;
}

.navbar {
    display: flex !important;
    text-transform: uppercase;
    font-weight: 700;
    height: 120px !important;
    justify-content: center !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    color: #000000 !important;
    font-family: 'Poppins', Arial, sans-serif !important;
    font-size: 16px !important;
}

hr.new {
    border-top: 6px solid #e6ebf0;
    opacity: 100;
}

.navbar-brand {
    margin-left: 15%;
}

.navbar-nav {
    align-items: center;
    color: #000000 !important;
}

.navbar-main-elements ul {
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;;
    text-transform: uppercase;
    font-weight: 700;
}

.pull-right img{
    vertical-align: auto;
    display: inline-block;
}

.details {
    display: flex !important;
}

/* Links inside the navbar */
@media (min-width: 992px) {
    #navbar-main a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 992px){
    ul {
        list-style: none !important;
        display: flex;
        padding-top: 5px;
    }
}

@media (min-width: 992px){
    .col-md-8 {
        width: 66.6% !important;
        flex: 0 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .col-md-8 {
        width: 90% !important;
        flex: 0 0 auto;
    }
    .col-md-6 {
        width: 40% !important;
        height: auto;
    }
}

/* Dropdown buttons inside the navbar */
.dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.53;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    padding-top: 3px;
    margin-left: -4px;
}

/* Add a blue color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn, .nav-link a:hover {
    color: #007fa3 !important;
    text-decoration: none;
}

.collapse:not(.show) {
    display: none !important;
}

.collapse.in {
    display: flex !important;
    background-color: #ffffff !important;
    float: right;
    margin-top: 180px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #252525 !important;
    min-width: 17em !important;
    font-family: 'Poppins', Arial, sans-serif !important;
    z-index: 1;
    padding: 20px 0px !important;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #ffffff !important;
    font-family: inherit; /* Important for vertical align on mobile phones */
    text-align: left;
    text-decoration: none;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    padding: 0px 20px !important;
}

/* Add a blue color to dropdown links on hover */
.dropdown-content a:hover {
    color: #007fa3 !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.text-center {
    text-align:center;
}

/* BODY */
/* WORKING */

body {
    font-family: 'Poppins', Arial, sans-serif !important;
    font-size: 2rem !important;
    background-image: url("images/NCAR-Waves.png") !important;
    background-position: right top !important;
    background-repeat: no-repeat !important;
    background-color: #dbe2e9 !important;
}

big {
    font-size: larger !important;
}

big strong {
    font-weight: 700 !important;
}

/* HEADERS */
/* WORKING */

h1 {
    text-align: center;
    font-size: 3rem !important;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-size: 2.25rem !important;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: #007fa3 !important;
}

h4 {
    font-size: 3rem !important;
    font-weight: 700;
    color: #007fa3 !important;
}

.clipboard {
    position: relative;
    display: block;
    float: right;
}

.btn-clipboard {
    position: relative;
    top: 16px;
    right: 10px;
    z-index: 10;
    border-radius: 8px;
    display: block;
    padding: .25rem .5rem;
    cursor: pointer;
}



